<p>The user <%=h params[:username] %> is not registered with this site.
  Please <%= link_to "sign in using a different account",
  RackCAS::Server.new(RackCAS.config.server_url).logout_url(destination: send("new_#{resource_name}_session_url")).to_s %>.</p>
