<!DOCTYPE html>
<html>
<head>
  <title>Scenario</title>
  <%= csrf_meta_tag %>
</head>
<body>

  <p class="alert"><%= alert %></p>
  <p class="notice"><%= notice %></p>

  <%= yield %>

</body>
</html>
